---
# Domain Member (Workstation) Setup Tasks

- name: Set static IP address
  win_shell: |
    New-NetIPAddress -InterfaceAlias "Ethernet" -IPAddress {{ ansible_host }} -PrefixLength 24 -DefaultGateway 10.10.10.1 -ErrorAction SilentlyContinue
    Set-DnsClientServerAddress -InterfaceAlias "Ethernet" -ServerAddresses 10.10.10.10
  ignore_errors: yes

- name: Wait for domain controller
  win_wait_for:
    host: 10.10.10.10
    port: 389
    timeout: 300

- name: Join domain
  win_domain_membership:
    dns_domain_name: "{{ domain_name }}"
    domain_admin_user: "Administrator@{{ domain_name }}"
    domain_admin_password: "{{ domain_admin_password }}"
    state: domain
  register: domain_join

- name: Reboot after domain join
  win_reboot:
  when: domain_join.reboot_required
